table{

    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    align-content: center;
    align-items: center;


    border: 2px solid slategray;
}

td{

    border: 1px solid slategray;
}

#table{
    width: 100%;
}